{% extends 'base_materias.html' %}

{% block titulo %}
    Lista de materias
{% endblock titulo %}
    

{% block contenido %}
    <h1>Lista de Materias</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Clave</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for materia in materias %}
                <tr>
                    <td>{{materia.clave}}</td>
                    <td>{{materia.nombre}}</td>
                    <td><a class="btn btn-danger" href="{% url 'eliminar_programa' programa.clave %}">Eliminar</a></td>
                    <td><a class="btn btn-success" href="{% url 'editar_programa' programa.clave %}">Editar</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
